*{
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
}
body{
    box-sizing: border-box;
}
:root{
    --color-primero: #042433;
    --color-segundo: #f5f5f5;
    --color-tercero: #252129BF;
    --color-blanco: #ffffff;
}
/**/
.header-area{
    background-color: var(--color-blanco);
    text-align: center;
    padding: 7px;
}
.header-area a{
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
    color: var(--color-primero);
}
/**/
.seccion-img{
    padding-left: 5%;
    padding-right: 5%;
}
.img-area{
    position: relative;
    background-image: url(../img/portada.png);
    width: 100%;
    height: 375px;
    background-size: cover;
    background-position: center;
    color: var(--blanco);
    border-radius: 20px;
}
/**/
section{
    padding-left: 5%;
    padding-right: 5%;
}
/**/
.seccion-tema{
    padding-top: 10px;
    font-weight: 900;
}
/**/
.seccion-info{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.info-caja{
    background-color: var(--color-segundo);
    padding: 15px 4%;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 5px rgba(184, 184, 184, 0.168);
    flex: 1;
}
.art1-espacio{
    margin-right: 5%;
}
.info-caja span{
    font-size: 15px;
    font-weight: 100;
}
.info-caja h4{
    font-size: 20px;
    font-weight: 900;
}
/**/
ul {
    list-style: none;
    padding: 0;
}
h3{
    padding-top: 12px;
}
li {
    margin: 10px 0;
    padding-top: 12px;
}
li span{
    color: var(--color-tercero);
    font-size: 15px;
}
/**/
footer{
    margin-top: 30px;
    text-align: center;
    background-color: var(--color-segundo);
    padding: 20px;
    color: var(--color-tercero);
}
/**/
@media(max-width: 1000px){
    .img-area{
        width: 100%;
        height: 275px;
        background-size: cover;
        background-position: center;
    }
}
@media(max-width: 700px){
    .img-area{
        width: 100%;
        height: 175px;
        background-size: cover;
        background-position: center;
    }
}